 <!DOCTYPE html>
 <html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

<title>index.html</title>
<link rel="stylesheet" href="style.css"  type="text/css">
</head>

<body>
<div id="container">
	
	<div id="header">
	<h1>Baza danych pacjentów, lekarzy i wizyt</h1>
	</div>
	
	<div id="leftbar">
		<a href="addpatient"><div class="link">Nowy Pacjent</div></a>
		<a href="adddoctor"><div class="link">Nowy Lekarz</div></a>
		<a href="finddoctor"><div class="link">Szukaj Lekarza</div></a>
		<a href="findpatient"><div class="link">Szukaj Pacjenta</div></a>
		<a href="newvisit"><div class="link">Umów wizytę</div></a>
	</div>
	
	<div id="content">
		<form ACTION="http://localhost:8080/doctor"
       METHOD="POST">
	<label>Imię: <input type="text" name="name"></label> <br />
	<label>Nazwisko: <input type="text" name="surname"></label><br />
	<label>Przychodnia: <select name="przychodnia">
		<option th:each="clinic : ${T(pl.painm.rejestracjaPacjentow.model.ClinicEnum).values()}"
				th:value="${clinic}"
				th:text="${clinic}">
		</option>
	</select></label><br />
	<label>Zamiany poranne? <input type="checkbox"></label><br />
	<label> Jakie dni? <br />
	
	Pon<input type="checkbox" name="monday"><br />
	Wt<input type="checkbox" name="tuesday"><br />
	Śr<input type="checkbox" name="wednesday"><br />
	Czw<input type="checkbox" name="thursday"><br />
	Pt<input type="checkbox" name="friday"	><br />
	<input type="submit" value="Dodaj">
	
	</label></form>
	</div>
	<div style="clear:both;"></div>
	
	<div id="footer">
	Wszelkie prawa zastrzeżone &copy;-2021
	</div>
</div>
</body>

</html> 