 <!DOCTYPE html>
<html>
<head>

<title>index.html</title>
<link rel="stylesheet" href="style.css"  type="text/css">
</head>

<body>
<div id="container">
	
	<div id="header">
	<h1>Baza danych pacjentów, lekarzy i wizyt</h1>
	</div>
	
	<div id="leftbar">
		<a href="addpatient"><div class="link">Nowy Pacjent</div></a>
		<a href="adddoctor"><div class="link">Nowy Lekarz</div></a>
		<a href="finddoctor"><div class="link">Szukaj Lekarza</div></a>
		<a href="findpatient"><div class="link">Szukaj Pacjenta</div></a>
		<a href="newvisit"><div class="link">Umów wizytę</div></a>
	</div>
	
	<div id="content">
	 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mattis nisi eu nunc convallis condimentum. Sed id ultricies lacus, in convallis libero. Cras faucibus laoreet tempus. Nam ullamcorper, leo nec luctus vehicula, lectus lectus gravida massa, a feugiat arcu ex id urna. Donec cursus sem vel arcu posuere, at vestibulum neque mollis. Mauris eget eros nec enim maximus tincidunt. Vestibulum non orci ornare, fringilla dui vel, pellentesque nisl.<br /><br />

Suspendisse fringilla, lectus quis rhoncus euismod, ante tortor cursus arcu, eu malesuada ante diam quis ante. Nulla nec placerat nunc, ac ultrices enim. In hac habitasse platea dictumst. Vestibulum aliquam eleifend est at tristique. Donec vel gravida nulla, ac sodales nisl. Cras tristique enim sapien, eu tristique mi ornare quis. Praesent consequat diam sed augue lacinia, at fermentum ligula posuere. Integer eu molestie dui. Morbi varius sagittis turpis sed posuere. Curabitur id lacus in est aliquam tempus sit amet sit amet enim. Aliquam faucibus ipsum eu felis rhoncus, eu convallis velit dictum.<br /><br />

Nam suscipit lacus pharetra, luctus ligula et, faucibus lectus. Maecenas tincidunt pellentesque tortor, at ornare dui faucibus quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent semper laoreet augue id ultricies. Integer blandit tempus rhoncus. Praesent mauris lacus, consequat id ultrices eu, luctus quis ex. Nullam id laoreet orci. Nunc vitae neque sollicitudin, malesuada lorem vitae, auctor arcu. Sed porta, ex vitae pulvinar ultricies, orci dui placerat nisl, eget suscipit ex nisi quis lectus. Nam at varius lacus. Cras sem dui, facilisis eget posuere nec, vestibulum id elit. 
	
	</div>
	<div style="clear:both;"></div>
	
	<div id="footer">
	Wszelkie prawa zastrzeżone &copy;-2021
	</div>
</div>
</body>

</html> 